.cityList {
    padding: 0px 25px;
}

.city {
    display: flex;
    align-items: center;
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #4F4F4F;
    gap: 10px;
    padding: 20px 0;
}

.menuContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}