/* Filter menu */
.filterBox {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.filterMenu {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(79, 79, 79, 0.4);
}

.menuBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    min-height: 500px;
    border-radius: 0;
    padding: 90px;
    background-color: white;
    flex-direction: column;
    z-index: 10;
}

.menuOptions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    font-family: 'Muli', sans-serif;
}

h5 {
    all: unset;
    font-weight: bold;
    font-size: 9px;
    line-height: 11px;
    text-transform: uppercase;
    color: #333333;
}

/*Location Filter */
.locationBox {
    height: 100%;
    border: solid 1px;
    border-radius: 25px;
    flex-direction: column;
    padding-left: 25px;
    display: flex;
    justify-content: center;
}

.locationCity {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

/* AddGuests Filtr */
.menuOptions .addGuests,
.menuOptions .locationCity {
    padding: 12px 32px;
}

/*Buton search filter */
.menuOptions .lupa {
    padding: unset
}

.btnSearch {
    background: #EB5757;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    color: #F2F2F2;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 25px;
    margin: 0 auto;
    gap: 11px;
}

.menuContent {
    padding-top: 40px;
}


@media (max-width: 600px) {
    .menuBox {
        padding: 20px;
    }

    /*Header */
    .menuBoxHeader {
        display: flex;
        justify-content: space-between;
        padding: 16px 0;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        color: #333333;
        font-family: 'Muli';
    }

    /* Filter **/
    .menuOptions {
        display: flex;
        flex-direction: column;
    }

    .btnSearch {
        padding: 15px 20px;
    }

    .location {
        border-bottom: 1px solid #F2F2F2;
    }

    .menuOptions .locationCity {
        padding-left: unset;
    }

    .locationBox,
    .guestsBox {
        padding-top: 11px;
        border: none;
    }

}